@font-face {
	font-family: 'proximanovalight';
	src: url('../fonts/proximanovalight.eot');
	src: local('proximanovalight'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype');
}

.fontsforweb_fontid_12950 {
	font-family: 'proximanovalight' !important;
}

/* SCROLLER */
::selection                     { background: #a8d1ff;                                      }
::-moz-selection                { background: #a8d1ff;                                      }
::-webkit-scrollbar             { width: 10px;                                                }
::-webkit-scrollbar-track       { background-color: #eaeaea; border-left: 1px solid #ccc  }
::-webkit-scrollbar-thumb       { background-color: #888888;                                }
::-webkit-scrollbar-thumb:hover { background-color: #636363;                                }

 body { animation:fadein 0.5s;-moz-animation:fadein 0.5s;-webkit-animation:fadein 0.5s;-o-animation:fadein 0.5s; opacity: 1; transition: 0.5s opacity; padding: 0; margin: 0; font-family: 'proximanovalight' !important; }
.bodyload {  top: 0;  height:100vh;display: flex; justify-content: center; align-items: center; width: 100%; position: fixed; z-index: 9999; background: #fff; }
.rotatingDiv { display: block; margin: 16px auto; height: 40px; width: 40px; -webkit-animation: rotation .9s infinite linear; -moz-animation: rotation .9s infinite linear; -o-animation: rotation .9s infinite linear; animation: rotation .3s infinite linear; border-left: 3px solid rgba(0,0,0,.10); border-right: 3px solid rgba(0,0,0,.10); border-bottom: 3px solid rgba(0,0,0,.10); border-top: 3px solid rgb(0 0 0); border-radius: 100%; } @keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg); } } @-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } } @-moz-keyframes rotation { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(359deg); } } @-o-keyframes rotation { from { -o-transform: rotate(0deg); } to { -o-transform: rotate(359deg); } }

@keyframes fadein{from{opacity:0}
to{opacity:1}
}@-moz-keyframes fadein{from{opacity:0}
to{opacity:1}
}@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}@-o-keyframes fadein{from{opacity:0}
to{opacity:1}
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

a{background-color:transparent}
button{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button{overflow:visible}
button{text-transform:none}
[type=button],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
button{background-color:transparent;background-image:none}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
ul{margin:0;padding:0}
ul{list-style:none}
*,:after,:before{box-sizing:border-box;border:0 solid}
button{cursor:pointer}
a{color:inherit;text-decoration:inherit}
button{padding:0;line-height:inherit;color:inherit}
svg{display:block;vertical-align:middle}
.LockUp_lockup__y2HQS{height:24px}
.LockUp_logo__2C0BU:hover,.LockUp_mark__1i8eI:hover{--text-opacity:1;color:#e2e2e8;color:rgba(226,226,232,var(--text-opacity))}
.LockUp_logo__2C0BU:active,.LockUp_mark__1i8eI:active{--text-opacity:1;color:#86868e;color:rgba(134,134,142,var(--text-opacity))}
.HSpace_h-space__1C_k1{display:flex}
.HSpace_h-space--md__1c4B3>*+*{margin-left:1rem}
.HSpace_h-space--lg__1G4Eg>*+*{margin-left:1.5rem}
.LayoutGrid_layout-grid__40eRT{padding-left:1.5rem;padding-right:1.5rem;display:grid;grid-template-columns:repeat(4,minmax(0,1fr));grid-column-gap:1.5rem;column-gap:1.5rem;max-width:1440px;margin-left:auto;margin-right:auto;overflow:hidden}
@media(min-width:768px){.LayoutGrid_layout-grid__40eRT{padding-left:2rem;padding-right:2rem;grid-template-columns:repeat(6,minmax(0,1fr))}
}@media(min-width:1024px){.LayoutGrid_layout-grid__40eRT{grid-template-columns:repeat(12,minmax(0,1fr));grid-column-gap:2rem;column-gap:2rem;padding:0 5vw}
}@media(min-width:1440px){.LayoutGrid_layout-grid__40eRT{grid-template-columns:repeat(12,minmax(0,1fr));grid-column-gap:2rem;column-gap:2rem;padding-left:5rem;padding-right:5rem}
}.Anchor_anchor__u3Dra{--text-opacity:1;color:#b59bd8;color:rgba(181,155,216,var(--text-opacity));cursor:pointer;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.5}
.Anchor_anchor__u3Dra:hover{text-decoration:underline}
.Anchor_anchor__u3Dra:active{--text-opacity:1;color:#ccccd4;color:rgba(204,204,212,var(--text-opacity))}
.Anchor_anchor__u3Dra.Anchor_anchor--white__3vXHo{--text-opacity:1;color:#000 !important;color:rgba(255,255,255,var(--text-opacity))}
.Anchor_anchor__u3Dra.Anchor_anchor--white__3vXHo:active{--text-opacity:1;color:#4b4b55;color:rgba(75,75,85,var(--text-opacity))}
 header {font-weight:bold}
 header img{max-width: 110px;}
.Header_header__3-Q1o{border-bottom-width:2px;border-color:hsla(0,0%,100%,.1);--bg-opacity:1;background-color:#fff;position:sticky;top:0;padding-top:1.5rem;padding-bottom:1.5rem;z-index:9999}
.Header_header__3-Q1o svg{fill:#fff}
.Header_header__lockup__2IzEg{grid-column:span 2/span 2;display:flex;align-items:center}
.Header_header__nav--cta__3QY_L{display:none;align-items:center;flex-shrink:0;justify-content:flex-end}
.Header_header-link-button__3hbM0{display:flex;align-items:center;border-radius:4px;font-size:.875rem;padding:.25rem 1rem;white-space:pre;border-width:2px;--bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--bg-opacity));--text-opacity:1;color:#100024;color:rgba(16,0,36,var(--text-opacity))}
.Header_header-link-button__3hbM0:hover{background-color:transparent;--border-opacity:1;border-color:#fff;border-color:rgba(255,255,255,var(--border-opacity));--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}
.Header_header-link-button__3hbM0:active{--bg-opacity:1;background-color:#ccccd4;background-color:rgba(204,204,212,var(--bg-opacity));--border-opacity:1;border-color:#ccccd4;border-color:rgba(204,204,212,var(--border-opacity));--text-opacity:1;color:#100024;color:rgba(16,0,36,var(--text-opacity))}
.Header_header__nav--links__1aTYi{display:none;flex-direction:row;grid-column:span 6/span 6;align-items:center;justify-content:center}
.Header_header__nav--mobile-links__3x3UE{display:flex;align-items:center;justify-content:flex-end;grid-column:span 2/span 2}
.Header_header__nav--mobile-menu-toggle__1UAld{--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}
.Header_header__nav--single-cta__2fHvD{display:none}
.Header_header__icon-button__3xvaD{display:block;--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}
.Header_header__icon-button__3xvaD:hover{opacity:.5}
@media(min-width:768px){.Header_header__lockup__2IzEg,.Header_header__nav--cta__3QY_L,.Header_header__nav--mobile-links__3x3UE{grid-column:span 3/span 3}
.Header_header__nav--single-cta__2fHvD{display:block}
}@media(min-width:1024px){.Header_header__nav--cta__3QY_L,.Header_header__nav--links__1aTYi{display:flex}
.Header_header__nav--mobile-menu-toggle__1UAld,.Header_header__nav--single-cta__2fHvD{display:none}
}.ff-icon.jsx-4213353732{display:block;fill:currentColor;-webkit-transition:all .3s cubic-bezier(0.25,0.8,0.25,1);transition:all .3s cubic-bezier(0.25,0.8,0.25,1)}
